@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #294b29;
  --secondry-color: #dbe7c9;
  --color: #789461;
}
body {
  font-family: "Noto Sans Arabic", sans-serif;
  background-color: #294b29;
}
.message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.1s linear;
  transform: scale(0);
}
.show-message {
  transform: scale(1);
}
.message h3 {
  color: var(--secondry-color);
  font-size: 30px;
}
.message .icon {
  width: 180px;
  height: 180px;
}
.message p {
  font-size: 25px;
  font-weight: 400;
  color: var(--secondry-color);
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 10px;
}
img.icon {
  width: 80px;
  height: 80px;
}
h4 {
  color: var(--color);
  font-size: 20px;
}
.dates {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 50px;
}
@media (max-width: 760px) {
  .dates {
    flex-direction: column;
    justify-content: center;
  }
}
.dates p {
  color: var(--color);
}
hr {
  border-color: var(--color);
  border-width: 3px;
  margin: 15px 0;
}
h1 {
  color: var(--secondry-color);
  font-size: 40px;
}
.head {
  text-align: center;
  margin-bottom: 10px;
}
h2 {
  text-align: center;
  color: var(--color);
}
@media (max-width: 760px) {
  h2,
  span,
  h1 {
    font-size: 20px;
  }
}
span {
  color: var(--secondry-color);
  font-size: 25px;
  font-weight: bold;
}
select {
  min-width: 50px;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  color: var(--main-color);
  background-color: var(--color);
}
select:hover {
  background-color: var(--secondry-color);
  color: black;
}
select option {
  color: var(--secondry-color);
  background-color: rgb(65, 60, 60);
  font-size: 25px;
}
select option:hover,
option:checked {
  background-color: var(--main-color);
  color: var(--secondry-color);
}
.prayers {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  justify-items: center;
  min-height: 250px;
}
.loader::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 20px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px var(--secondry-color) solid;
  border-right: none;
  animation: motion 0.1s linear infinite;
  display: block;
}
@keyframes motion {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.prayer {
  background-color: var(--color);
  padding: 10px;
  border-radius: 15px;
  overflow: hidden;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.prayer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
  z-index: 9;
}
.active-prayer {
  background-color: var(--secondry-color);
  border: 3px solid var(--color);
  box-shadow: 0px 3px 6px 1px black;
}
.prayer-name {
  color: var(--secondry-color);
  font-size: 35px;
  z-index: 10;
}
.prayer-time {
  color: var(--secondry-color);
  z-index: 10;
  padding: 3px 12px;
  background-color: #294b29c7;
  border-radius: 15px;
}
.active-time {
  color: #263f00;
}
